<h1>Day planner</h1>

<ul>
  {{#each plans}}
    <li>
      <p>
        {{this.id}}. {{this.plan}} {{this.plan_time}}
        <!-- after adding 'plan_time' column to plans tbale, added {{this.plan_time}} above to display timestamp -->
        <form action="/delete?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Delete Plan!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Create a Plan</h2>
<form method="POST" action="/create" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="plan" placeholder="plan"></textarea>
  <input type="datetime-local" name="plan_time">
  <!-- added input type datetime-local to allow user to update time -->
	<button type="submit">Update Plan!</button>
</form>
